
:root {
  --primary-50: #F5F7FA;
  --primary-100: #EBEEF3;
  --primary-200: #D2D9E5;
  --primary-300: #ABB9CE;
  --primary-400: #7E93B2;
  --primary-500: #566C8C;
  --primary-600: #4A5E7F;
  --primary-700: #3D4C67;
  --primary-800: #354157;
  --primary-900: #272F3E;
  --primary-950: #202531;
}

/* semantic variables for this project */
:root {
  --nav-background: var(--primary-100);
  --background: var(--primary-50);

  --border: var(--primary-300);
  --border-hover: var(--primary-500);

  --logo: var(--primary-950);
  --text: var(--primary-800);
  --text-link: var(--primary-500);
  --nav-link: var(--primary-500);

  --nav-link-hover-focus: var(--primary-700);
  --circle-btn-hover-bg: var(--primary-200);

  --alert-error: rgb(200, 50, 50);

  --linear-img: linear-gradient(180deg, #20253100 0%, #2025319b 45%, #202531f8 100%);
  --linear-img: linear-gradient(180deg, #090a0e00 0%, #090a0e9b 45%, #090a0ef8 100%);
  
  --linear-details: linear-gradient(0deg, #202531bf 0%, #202531bf 100%);
  
  --rail-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.15);
  --rail-shadow-mobile: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15);

  --radius-reg: 60px;
  --radius-reg-2: 40px;
  --radius-sm: 30px;
  --radius-xs: 15px;
  --duration: 0.5s;
}

:root.dark-theme {
  --nav-background: var(--primary-900);
  --background: var(--primary-950);

  --border: var(--primary-500);
  --border-hover: var(--primary-300);


  --logo: var(--primary-200);
  --text: var(--primary-100);
  --text-link: var(--primary-300);
  --nav-link: var(--primary-200);

  --nav-link-hover-focus: var(--primary-50);
  --circle-btn-hover-bg: var(--primary-700);

  --linear-img: linear-gradient(180deg, #F5F7FA00 0%, #f5f7faaf 45%, #f5f7faf2 100%);
  --linear-img: linear-gradient(180deg, #090a0e00 0%, #090a0e9b 45%, #090a0ef8 100%);
  --linear-details: linear-gradient(0deg, #F5F7FAbf 0%, #F5F7FAbf 100%);
  --linear-details: linear-gradient(0deg, #202531bf 0%, #202531bf 100%);

  --rail-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.45);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--nav-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h4, h5, h6, p {
  max-width: 600px;
}

/* desktop/h1 */
h1 {
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -2.52px;
}

/* desktop/h2 */
h2 {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -1.28px;
}
  /* desktop/h3 */
h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.72px;
}

  /* desktop/h4 */
h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 150% */
  max-width: 750px;
}

  /* desktop/h5 */
h5 {
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
}
  /* desktop/h6 */
h6 {
  font-family: Space Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  white-space: nowrap;
}

p {
  font-size: 16px;
}
a {
  font-size: 16px;
  color: var(--text-link);
  text-decoration: underline;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
a:hover {
  text-decoration: none;
  color: var(--nav-link-hover-focus);
  .icon {
    fill: var(--nav-link-hover-focus);
  }
}
