@import './preflight.css';
@import url('https://fonts.googleapis.com/css2?family=Space~Grotesk:wght@300;400;500;600;700&display=swap');
@import './base.css';
@import './header.css';

body {
  overflow: hidden;
}



#app {
  background: var(--background);
  overflow: hidden;
  .app-wrapper {
    overflow: hidden;
  }
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid var(--circle-btn-hover-bg); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--circle-btn-hover-bg); 
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--border); 
}



/* button styles */
.btn-primary {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-sm);
  border: 1px solid var(--background);
  background: var(--text-link);
  color: var(--background);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  white-space: nowrap;
  min-width: 150px;
  &:hover {
    background: var(--text);
    color: var(--background);
  }
}
.btn-circle {
  transition: ease-in .1s;
  display: flex;
  width: 75px;
  text-decoration: none;
  min-width: 75px;
  height: 75px;
  padding: 14px 10px 16px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  border: 2px solid var(--border);
  text-align: center;
  font-weight: 500;
  background: var(--nav-background);
  .darkMode-label {
    cursor: pointer;
  }
  &:hover {
    color: var(--text);
    text-decoration: underline;
    border-color: var(--border-hover);
    background: var(--background);
    cursor: pointer;

  }
  &:checked {
    color: var(--text);
    
  }
}

.text-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  .icon {
    width: 20px;
    height: 20px;
  }
  .link-text {
    font-weight: 700;
  }
}
.main-wrapper {
  overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
    
}
.mobile-header {
  display: none;
}

/* page */
.page-wrap {
  display: flex;
  width: calc(100vw - 142px);
  margin-left: 122px;
  min-height: 100vh;
  margin-right: 20px;
  .content-wrap {
    /* box-shadow: var(--rail-shadow); */
    background: var(--background);
    width: calc(100vw - 122px);
    padding: 30px 40px;

  }
  .home-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .details-wrapper {
    padding: 10px;
    .details-header {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      background-size: cover;
      border-radius: var(--radius-sm);
      overflow: hidden;
      .visual-wrapper {
        width: 100%;
        width: 100%;
      }
      .workCard-visual {
        height: 60vh;
        width: 100%;
        object-fit: cover;
      }
      .details-header-content {
        position: absolute;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        padding: 40px;
        height: 60vh;
        width: 100%;
        background: var(--linear-details);
        /* border-radius: var(--radius-sm); */
        color: var(--primary-50);
      }
    }
    .details-body{
      padding: 40px 40px 0;
      .details-grid-wrapper {
        display: flex;
        border-radius: 30px;
        overflow: hidden;
        border: 1px solid var(--border);
        /* text-align: center; */
        margin: 40px 80px 0;
        .grid-col-wrapper {
          flex: 2;
          .grid-col-head {
            text-align: center;
            padding: 10px;
            background: var(--circle-btn-hover-bg);
            border-bottom: 1px solid var(--border);
            border-right: 1px solid var(--border);
          }
          .row-2 {
            padding: 10px 20px 20px;
            border-right: 1px solid var(--border);
            height: 100%;
          }
          .project-links-links {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .project-links-link {
              display: flex;
              justify-content: flex-start;
            }
          }
        }
        .grid-col-wrapper-links {
          flex: 3;
          height: fit-content;
          .grid-col-head {
            border-right: none;
          }
        }
      }
      .details-section {
        margin: 80px 0;
        padding: 0 80px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .details-section_content {
          width: calc(33% - 10px);
          .details-section-header {
            margin-bottom: 40px;
          }
          .details-section-subheader {
            margin: 30px 0 10px;
          }
          .details-kf_list {
            list-style: disc;
            margin: 20px 0 0 15px;
          }
          .details-kf_listItem {
            padding: 0 0 10px;
          }
        }
        .details-section_visual {
          width: calc(66% - 10px);
          display: flex;
          flex-direction: column;
          .details-visual {
            width: 100%;
            flex-grow: 2;
            border-radius: 20px;
            object-fit: contain;
          }
          .iframe {
            border-radius: 20px;
          }
          .details-visiual_caption {
            margin: 20px 0 0;
          }
        }
      }
    }
  }
}

/* splash */

.splash-content, .work-splash {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin: 10px 0 0 0;
  padding: 0;
  /* max-height: 100vh; */

}

.work-splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .latest-work-header {
    text-align: center;
  }
  .more-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.splashCard-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 20px;
  flex-shrink: 0;
  width: 100%;
  .sm {
    border-radius: var(--radius-sm);
    width: 33%;
    .visual-wrapper {
      width: 100%;
      border-radius: var(--radius-sm);
      /* border: 1px solid var(--border); */
      height: 250px;
    }
    .workCard-visual {
      border-radius: var(--radius-sm);
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .workCard-content {
      width: 100%;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 20px 10px;
      color: var(--primary-50);
      background: var(--linear-img);
      border-radius: var(--radius-sm);
      overflow: hidden;
      position: absolute;
      /* border: 1px solid var(--border); */
    }
  }
  .workCard {
    position: relative;
    border-radius: var(--radius-sm);
    overflow: hidden;
    transition: ease-in .1s;
    cursor: pointer;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: var(--radius-sm);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .9;
    
    &:hover {
      transform: scale(1.05);
      opacity: 1;
    }
  }
}

/* work page */
.page-heading {
  padding: 0 0 20px;
}

.work-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;
  align-items: stretch;
  gap: 20px 20px;
  .xl {
    width: calc(50% - 10px);
    align-items: stretch;
    display: flex;
    text-decoration: none;
    color: var(--text);
    background: var(--nav-background);
    border-radius: var(--radius-sm);
    transition: ease-in .1s;

    .workCard {
      width: 100%;
      .visual-wrapper {
        /* height: 60; */
        overflow: hidden;
        border-radius: var(--radius-sm);
        .workCard-visual {
          height: 300px;
          object-fit: cover;
          min-width: 100%;
        }
      }
      .workCard-content {
        padding: 20px 40px 40px;
        height: auto;
        text-decoration: none;
        border-radius: var(--radius-sm);

        .workCard-title {
          margin-bottom: 10px;
        }
      }
    }
  }
  .xl:hover {
    background: var(--circle-btn-hover-bg);
    transform: scale(1.025);

  }
}

/* about */
.about-page {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  .content-wrap {
    padding: 10px 10px 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .about-img-wrapper {
      overflow: hidden;
      height: calc(100vh - 20px);
      width: calc(50% - 40px);
      border-radius: 20px;
      .about-img {
        height: 100%;
        object-fit: cover;
      }
    }
    .page-content-wrapper {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: center;
      height: 100%;
      gap: 20px;
      .page-header {
        margin-bottom: 40px;
      }
      .page-p {
        margin-bottom: 20px;
      }
    }
  }
}

/* footer  */
.footer {
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  width: calc(100% - 142px);
  margin-left: 132px;
  margin-bottom: 10px;
  background: var(--nav-background);
  border-radius: var(--radius-reg);

  .hr {
    background: var(--nav-background);
    height: 2px;
    margin: 0 40px;
  };
  .credits {
    width: fit-content;
    padding: 10px 20px;
    margin: 0 40px 20px;
    font-size: 12px;
    text-align: center;
    background: var(--background);
    border-radius: var(--radius-reg);
    .figma-link {
      font-size: 12px;
    }
  }
}
.page-wrap {
  .footer-wrapper {
    width: 100%;
    height: auto;
    color: var(--text);
    display: flex;
    flex-direction: row;
    padding: 40px;
  background: var(--nav-background);
  justify-content: space-between;
  border-radius: var(--radius-reg);
    gap: 40px;
    .logo-summary-section {
      flex-grow: 2;
    }
    .logo {
      width: 42px;
      margin-bottom: 20px;
      margin-left: -8px;
    }
    .summary {
      max-width: 600px;
    }
    .footer-links {
      display: flex;
      flex-grow: 1;
      gap: 40px;
    }
  }
  .social-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
  }
  .site-links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* connect */
.connect-page {
  .content-wrap {
    display: flex;
    min-height: 100vh;
    gap: 40px;
    align-items: center;
    .page-content-wrapper {
      height: fit-content;
      .page-header {
        margin-bottom: 20px;
      }
      .page-p {
        margin-bottom: 40px;
      }
      .connect-links-wrap {
        display: flex;

      }
      .site-links {
        margin-bottom: 30px;
      }
    }
    .form-wrapper {
      padding: 40px 40px 20px;
      background: var(--nav-background);
      border-radius: var(--radius-reg);
      .form-description {
        margin-bottom: 20px;
      }
      .text-area-wrapper {
        height: 152px !important;
      }
      .connect-form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .field {
          /* padding: 16px 20px; */
          margin: 0 0 20px 0;
          height: 54px;
          width: 295px;
          .text-area ~ .input-label {
            height: 152px;
            top: -158px
          }
          .text-input {
            resize: none;
            padding: 20px 16px 8px;
            background: none;
            position: relative;
            z-index: 1;
            width: 295px;
            border: 2px solid var(--border);
            outline: none;
            color: var(--text);
            border-radius: 5px;
            &:autofill, &:-webkit-autofill, & :-internal-autofill-selected {
              background-color: -internal-light-dark(rgba(232, 240, 254, 0), rgba(70, 90, 126, 0)) !important;
            }
            &:focus {
              border-color: var(--text);
            }
          }
          .input-label {
            position: relative;
            padding: 16px 16px 12px;
            z-index: 0;
            display: inline-block;
            background: var(--nav-background);
            transition: ease-in .1s;
            color: var(--text-link);
            top: -56px;
          }
          
          .text-input:focus ~ .input-label, .input-label.filled {
            font-size: 10px;
            padding: 4px 0 0 16px;
            width: 295px;
            height: 54px;
            background: var(--background);
            border-radius: 10px;
          }
          .text-area:focus ~ .input-label {
            height: 152px;
            
          }
          
          .has-error {
            border-color: var(--alert-error);
            border-radius: 10px;
            
            /* margin: -10px 0 5px; */
          }
          .error-msg {
            font-size: 10px;
          }
        }
      }
    }
  }
}

/* 404 */

.page-wrap {
  .NotFound {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
  }
}


/* transitions */

.slide-up-leave-active, .slide-up-enter-active, .slide-down-enter-active, .slide-down-leave-active, .slide-left-leave-active, .slide-left-enter-active {
  transition: cubic-bezier(.25,0,.6,1) 0.4s;
}

/* up */
.slide-up-enter-from {
  position: absolute;
  top: 100%;
  left: 0;
}

.slide-up-enter-to {
  position: absolute;
  top: 0;
  left: 0;
}

.slide-up-leave-from {
  position: absolute;
  top: 0;
  left: 0;
}

.slide-up-leave-to {
  position: absolute;
  top: -100%;
  left: 0;
}

/* down */
.slide-down-enter-from {
  position: absolute;
  top: -100%;
  left: 0;
}
.slide-down-enter-to {
  position: absolute;
  top: 0;
  left: 0;
}

.slide-down-leave-from {
  position: absolute;
  top: 0;
  left: 0;
}

.slide-down-leave-to {
  position: absolute;
  top: 100%;
  left: 0;
}

/* left */
.slide-left-enter-from {
  position: absolute;
  top: 0;
  right: -100%;
}
.slide-left-enter-to {
  position: absolute;
  top: 0;
  right: 0%;
}
.slide-left-leave-from {
  position: absolute;
  top: 0;
  right: 0;
}
.slide-left-leave-to {
  position: absolute;
  top: 0;
  right: 0;
}

iframe {
  aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
}